*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(97, 99, 99);
}

h1{
    text-align: center;
}


.contenedorProductos{
    display:flex;
    justify-content: center;
    padding: 50px;
    width:80%;
    margin-left: 5%;
    height: 200px;
    background-color: rgba(0, 255, 191, 0.288);
}

.productos{
    width: 20%;

}


.boton{
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
}

.carritoDeCompras{
    text-align: center;
}